# Ẩn toàn bộ thư mục cài đặt thư viện (nặng nhất)
node_modules/

# Ẩn các file cấu hình môi trường chứa mật khẩu, token bảo mật
.env
.env.local

# Ẩn các file log hệ thống sinh ra khi chạy lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ẩn các file cấu hình của hệ điều hành hoặc IDE nếu có
.DS_Store
.vscode/